<section>
  <% if current_user %>
    <%= hidden_field_tag :chunk_feed_id, current_user.chunk_feed.id, id: 'chunk-feed-id' %>
    <h3 id="testy">Chunks</h3>
    <% if current_user.chunking? %>
      <%= render partial: 'chunk_feeds/chunking' %>
    <% else %>
      <%= render partial: 'chunk_feeds/not_chunking' %>
    <% end %>
  <% end %>
</section>
